:root {
  --deg: 30;
  --rotation: var(--deg) deg;
}
* {
  transition: 0.2s all;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#toggle {
  display: block;
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #21e6ff;
}
#indicator {
  width: 20px;
  border-radius: 100%;
  height: 20px;
  margin: 5px 0px;
  background-color: white;
  position: absolute;
  float: right;
  left: 5px;
}
#clock {
  border: 100px solid #69e9f9;
  background-image: url(https://manyatapawagi.surge.sh/dial.jpg);
  background-size: cover;
  background-position: top right;
  width: 100px;
  height: 100px;
  background-color: #ffffffbd;
  border-radius: 100%;
  box-shadow: 5px 5px 10px #2d6066, -5px -5px 10px #b3ffff;
  position: relative;
}
#pin {
  z-index: 2;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #00e2ff;
  box-shadow: 5px 5px 12px #bec6cf, -5px -5px 12px #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hour {
  width: 7px;
  height: 20%;
  background: red;
  position: absolute;
  left: calc(50% - 1.5px);
  bottom: calc(50% + 1.5px);
  transform: translateX(-50%);
  transform-origin: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#min {
  width: 5px;
  height: 30%;
  background: grey;
  position: absolute;
  left: calc(50% - 1.5px);
  bottom: calc(50% + 1.5px);
  transform: translateX(-50%);
  transform-origin: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#sec {
  width: 3px;
  height: 35%;
  background: black;
  position: absolute;
  left: calc(50% - 1.5px);
  bottom: calc(50% + 1.5px);
  transform: translateX(-50%);
  transform-origin: bottom;
  transition: 1s all linear;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body.blue {
  background-color: #b9f7ff;
}
#toggle.blue {
  background-color: #69e9f9;
}
#indicator.blue {
  left: 5px;
}
#clock.blue {
  border: 5px solid #69e9f9;
  box-shadow: 5px 5px 10px #2d6066, -5px -5px 10px #b3ffff;
}

body.pink {
  background-color: #ffd1ee;
}
body.pink #toggle {
  background-color: #ffa3dd;
}
body.pink #indicator.pink {
  left: 35px;
}
body.pink #clock.pink {
  border: 10px solid #e91e63;
  box-shadow: 5px 5px 10px #d8658c, -5px -5px 10px #ffbed4;
}
body.pink #pin {
  background-color: #e91e63;
}
